* {
    box-sizing: border-box;
  }
  html,
  body {
    height: 100%;
    width: 100vw;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-image: url(../images/cloud.gif);
    cursor: url(../images/paw\ cursor.png), default;
  }
  .box {
    top: 31%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    background-color: #fff;
    border: 4px solid rgb(121, 13, 121);
    border-radius: 4px;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 900px;
    height: 550px;
    overflow: auto;
    font-family: monospace;
    padding: 18px;
    padding-bottom: 20px;
    position: absolute;
    display: block;
    text-align: center;
    line-height: 1.2em;
    overflow: hidden;
  }
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
  }
  .img {
    position: relative;
  }
  p {
    margin-bottom: 22px;
  }
  @media screen and (max-width: 900px) {
    .box {
      width: 400px;
      margin-top: 20%;
    }
  }
